
<md-dialog aria-label="Login">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login...</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:600px;max-width:1600px;max-height:810px; ">
    
    <md-content>
      <form name="simple" novalidate
            layout-margin>
        <div layout="column">
          <md-input-container>
            <label>Username (Email ID)</label>
            <md-icon md-svg-src="images/icons/ic_email_24px.svg" class="name" style="color:orange;font:bold;" ></md-icon>
            <input name="name" type="email"
              ng-model="username" 
              required />  <!--md-maxlength="32"-->
            <div ng-messages="simple.name.$error"
                 ng-show="simple.name.$dirty">
              <div ng-message="required">Please provide an email address</div>
              <div ng-message="email">Type in a valid email address!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <md-icon md-svg-src="images/icons/ic_visibility_24px.svg" class="name"></md-icon>
            <input type="password" name="password"
              ng-model="password" 
              required />
            <div ng-messages="simple.password.$error"
              ng-show="simple.password.$dirty">
              <div ng-message="required">Please provide a password</div>          
            </div>
          </md-input-container>
        </div>        
      </form>
      <div ng-if="error">{{error}}</div>
    </md-content>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <center><md-button class="md-raised md-primary" layout-align="center"
          ng-click="login()"
          ng-disabled="simple.$invalid" >  
          Login
        </md-button></center>
    </md-dialog-actions>
  
</md-dialog>