<div layout="column">
<md-toolbar>
  <div class="md-toolbar-tools main-toolbar">
    ReviewINTEL
    <span flex></span>
    <md-button class="md-icon-button"
      ng-show="enableShowTags()"
      ng-click="showTags()"
      ng-class="{'md-accent': isFilterOn()}">
      <md-icon>
        filter_list
      </md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="tagsFilter" md-is-locked-open="!hideTagBar()">
  <md-toolbar ng-show=is_admin class="md-toolbar-tools nav-toolbar">
      <md-button><a ui-sref="administration" style="text-decoration: none;">Administration</a></md-button>
      <span flex></span>
      <md-button class="md-icon-button"
        ng-show="enableCloseTags()">
        <md-icon ng-click="closeTags()">
          close
        </md-icon>
      </md-button>
  </md-toolbar>
  <md-content ng-show=is_admin layout-padding>
      <md-list>
        <md-list-item ng-show=is_admin>
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('dashboard')">
            Admin - Dashboard
          </md-button>
        </md-list-item>
      
        <md-list-item ng-show=is_admin>
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('register')">
            User Registration
          </md-button>
        </md-list-item>

        <md-list-item ng-show=is_admin>
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('manage_users')">
            User Management
          </md-button>
        </md-list-item>
      </md-list>
  </md-content>  


  <md-toolbar ng-show="(is_business_owner || is_admin)" class="md-toolbar-tools nav-toolbar">
      <md-button><a ui-sref="administration" style="text-decoration: none;">Amazon Business</a></md-button>
      <span flex></span>
      <md-button class="md-icon-button"
        ng-show="enableCloseTags()">
        <md-icon ng-click="closeTags()">
          close
        </md-icon>
      </md-button>

  </md-toolbar>

  <md-content ng-show="(is_business_owner || is_admin)" layout-padding>
      <md-list>
        
        <md-list-item ng-show="(is_business_owner || is_admin)" ng-repeat="myASIN in ownProductASINs">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('dashboard')">
            Dashboard - {{myASIN.ASIN}}
          </md-button>
        </md-list-item>        

      </md-list>
    </md-content>


    <!--Show up all ASINs here -->

    <!--END of Show up all ASINs here -->

  <md-toolbar ng-show="(is_business_owner || is_admin)" class="md-toolbar-tools">
      <md-button><a ui-sref="administration" style="text-decoration: none;">Review Factors</a></md-button>

      <span flex></span>
      <md-button class="md-icon-button"
        ng-show="enableCloseTags()">
        <md-icon ng-click="closeTags()">
          close
        </md-icon>
      </md-button>
  </md-toolbar>

  <md-content ng-show="(is_business_owner || is_admin)" layout-padding>
      <md-list>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data')">
            Review Data - All Ratings
          </md-button>
        </md-list-item>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data5')">
            Review Data - 5 Stars
          </md-button>
        </md-list-item>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data4')">
            Review Data - 4 Stars
          </md-button>
        </md-list-item>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data3')">
            Review Data - 3 Stars
          </md-button>
        </md-list-item>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data2')">
            Review Data - 2 Stars
          </md-button>
        </md-list-item>
        <md-list-item ng-show="(is_business_owner || is_admin)">
          <md-button
              class="md-primary"
              ng-class="tag.selected ? 'md-raised md-accent' : ''"
              ng-click="setUserFunction('review-data1')">
            Review Data - 1 Star
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>


    <md-toolbar class="md-toolbar-tools">
      <md-button><a ui-sref="logout" style="text-decoration: none;">Log Out</a></md-button>
      <span flex></span>
      <md-button class="md-icon-button"
        ng-show="enableCloseTags()">
        <md-icon ng-click="closeTags()">
          close
        </md-icon>
      </md-button>

    </md-toolbar>

  </md-sidenav>



  <md-content id="main" flex layout="column">

    <section id="dashboard" ng-show="(is_business_owner || is_admin) && is_function_dashboard" layout="row" layout-wrap>

      <div flex="33" flex-md="50" flex-sm="100">
        <md-card>
          <md-card-content>            
            <highchart id="chart1" config="chartConfig1"></highchart>            
          </md-card-content>
          <md-card-footer>
          </md-card-footer>
        </md-card>
      </div>

      <div flex="33" flex-md="50" flex-sm="100">
        <md-card>
          <md-card-content>            
            <highchart id="chart1" config="chartConfig2"></highchart>            
          </md-card-content>
          <md-card-footer>                        
          </md-card-footer>
        </md-card>
      </div>      

      <div flex="33" flex-md="50" flex-sm="100">
        <md-card>
          <md-card-content>            
            <highchart id="chart1" config="chartConfig3"></highchart>            
          </md-card-content>
          <md-card-footer>                        
          </md-card-footer>
        </md-card>
      </div>  

      <div flex="33" flex-md="50" flex-sm="100">
        <md-card>
          <md-card-content>            
            <highchart id="chart1" config="chartConfig4"></highchart>            
          </md-card-content>
          <md-card-footer>                        
          </md-card-footer>
        </md-card>
      </div>  
    </section>

    <!-- section for registration -->
    <!--section ng-show="(is_business_owner || is_admin) && is_function_register" layout="row" layout-wrap ng-controller="registerCtrl"-->
    <section ng-show="(is_business_owner || is_admin) && is_function_register" ng-controller="registerCtrl">
        <form name="simple" novalidate layout-margin>
        <div layout="column">
          <md-input-container>
            <label>Username.. (Email ID)</label>
            <md-icon md-svg-src="images/icons/ic_email_24px.svg" class="name" style="color:orange;font:bold;" ></md-icon>
            <input name="name" type="email"
              ng-model="username"
              required />  <!--md-maxlength="32"-->
            <div ng-messages="simple.name.$error"
                 ng-show="simple.name.$dirty">
              <div ng-message="required">Please provide an email address</div>
              <div ng-message="email">Type in a valid email address!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <md-icon md-svg-src="images/icons/ic_visibility_24px.svg" class="name"></md-icon>
            <input type="password" name="password"
              ng-model="password"
              required />
            <div ng-messages="simple.password.$error"
              ng-show="simple.password.$dirty">
              <div ng-message="required">Please provide a password</div>          
            </div>
          </md-input-container>

       <md-input-container>
            <label>Confirm Password</label>
            <md-icon md-svg-src="images/icons/ic_visibility_24px.svg" class="name"></md-icon>
            <input type="password" name="password2"
              ng-model="password2"
              required />
            <div ng-messages="simple.password2.$error"
              ng-show="simple.password2.$dirty">
              <div ng-message="required">Password not matching!</div>
              <div ng-if="password !== password2">Passwords don't match</div>          
            </div>
          </md-input-container>


        </div>
        <center><md-button class="md-raised md-primary" layout-align="center center"
          ng-click="register()"
          ng-disabled="simple.$invalid" > 
          Register
        </md-button>
      </form>
      <div ng-if="error">{{error}}</div>
    </section>
    <!-- END of section for registration -->
  


    <!--section for review-data-->
    <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>

    <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata5" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews5">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>   

    <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata4" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews4">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>

        <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata3" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews3">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>

        <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata2" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews2">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>

        <section ng-show="(is_business_owner || is_admin) && is_function_reviewdata1" ng-controller="registerCtrl">
        <div flex="33" flex-md="50" flex-sm="100" ng-repeat="review in Reviews1">
        <md-card>
          <md-card-header>
            Review ID: {{review.ReviewID}}
          </md-card-header>
          <md-card-content>            
            <p> <strong>Author:</strong> {{review.ReviewerPseudoName}}  
            
            <br>
            <strong>Review Title:</strong> {{review.ReviewTitle}}
            <br>
            <strong>Rating:</strong> {{review.ReviewRating}}</p>
            <p>{{review.ReviewDescription}}</p> 

            <a ng-href="" ng-click=redirectToURL(review.ReviewURL)>Respond To Review on Amazon.com</a>

          </md-card-content>
        </md-card>
        <br>
      </div>

    </section>
<!--end of section for review-data-->

<!-- section for user management -->
    <section ng-show="(is_business_owner || is_admin) && is_function_manage_users" ng-controller="ManageUsersController">
          
       <form name="simple1" novalidate  layout-margin>


        <div layout="column" layout-align="center center" style="padding:40px" ng-cloak>
          <p><strong>Please select a user below who currently does not have a product selling on Amazon:</strong></p>
          <div layout="column" layout-align="center center" style="height: 100px;">
            <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
              <md-option ng-value="user" ng-repeat="user in users track by $index">{{user.username}}</md-option>
            </md-select>
            <!--p class="md-caption">You have assigned the task to: {{ user ? user.username : 'No one yet' }}</p-->
          </div>
        </div>
  </form>
  <md-divider></md-divider>

  <form>
    Selected user:<code>{{user.username}}</code>
    <br />
    For the selected user, please update the current product ID (ASIN) here: 
    <input type="text" ng-model="ASINValue">    
    <button type="submit" ng-click=editUser(user._id)>Update</button>
  </form>

  <md-divider></md-divider>
  <br />
  Status: <strong>{{StatusMessage}}</strong>

    </section>
    <!-- END of section for user management -->
  
  </md-content>  <!--Inner md-content -->

</md-content> <!--Outer md-content -->


</div>
